body {
    font: 12px arial,sans-serif;
    font-size: 12px;
}

a {
    color: #03c;
}

.www-core-container {
    width: 970px;
    margin: auto;
}

.www-channel-left {
    float: left;
    width: calc( 33.7% - 20px );
}

.www-channel-right {
    float: right;
    width: calc( 69% - 20px );
}

.www-videos-left {
    float: left;
    width: calc( 19.7% - 20px );
}

.www-videos-right {
    float: right;
    width: calc( 84% - 20px );
}

.www-home-left {
    float: left;
    width: calc( 68.7% - 20px );
}

.www-home-right {
    float: right;
    width: calc( 34% - 20px );
}

.www-fullwidth {
    width: 100%;
    /* To make the left pane and right pane not interfere with normal elements */
}

.www-header-mast {
    padding-bottom: 10px;
}

.www-header-mast img {
    width: 84px;
}

.www-motto {
    color: #828282;
    vertical-align: top;
    position: relative;
    left: 3px;
    top: 1px;
}

.www-header-list .www-header-item  {
    background-position: 0 -487px;
    height: 16px;
    text-align: center;
    float: left;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    white-space: nowrap;
    display: block;
    padding: 9px 8px 10px 8px;
        padding-left: 8px;
    border-left: 1px solid #fff;
    border-right: 1px solid #999;
}

.www-header-item:hover {
	background: -moz-linear-gradient(0deg, rgb(171 169 169) -82%, rgb(255 255 255) 81%);
	background: -webkit-linear-gradient(0deg, rgb(171 169 169) -82%, rgb(255 255 255) 81%);
	background: linear-gradient(0deg, rgb(171 169 169) -82%, rgb(255 255 255) 81%);
}

.www-header-item:focus {
	background: -moz-linear-gradient(0deg, rgb(247 246 246) 58%, rgb(158 157 157) 100%);
	background: -webkit-linear-gradient(0deg, rgb(247 246 246) 58%, rgb(158 157 157) 100%);
	background: linear-gradient(0deg, rgb(247 246 246) 58%, rgb(158 157 157) 100%);
}

.www-header-list {
    height: 35px;
    background-position: 0 -487px;
    border: 1px solid #999;
    clear: both;
    cursor: default;
    margin-top: 5px;
    background: rgb(222,222,222);
    background: -moz-linear-gradient(0deg, rgba(222,222,222,1) 0%, rgba(241,241,241,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(222,222,222,1) 0%, rgba(241,241,241,1) 100%);
    background: linear-gradient(0deg, rgba(222,222,222,1) 0%, rgba(241,241,241,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dedede",endColorstr="#f1f1f1",GradientType=1); 
}

.www-user-info {
    float: right;
    margin-top: 16px;
}

.www-user-info a {
    border-left: 1px solid #aaa;
    padding: 0 0 1px 6px;
    margin-left: 6px;
    text-decoration: none;
}

.first {
    border: 0px solid black;
    border-left: 0px;
}

.upload_button {
    font-weight: bold;
    color: #994800;
    background: #fed81c url(/static/img/spritesheet_main.png) repeat-x center -2206px;
    border: 1px solid #ecc101;
    width: 75px;
    padding: 0 .8333em;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;
    border-radius: 3px;
    float: right;
    margin: 7px;
    padding: 3px 0.833em;
    margin: 6px 7px 7px 7px;
}

.upload_button:hover {
    background: #fed81c url(/static/img/spritesheet_main.png) repeat-x center -2202px;
}

.upload_button:hover {
    text-decoration: underline;
}

.search-box {
    border: 1px solid #999;
    padding: 4px 1px 1px 1px;
    width: 295px;
    height: 18px;
    font-size: 13px !important;
    vertical-align: middle;

    display: inline-block;
    margin: 5px;
}

.search-form {
    display: inline-block;
    margin-left: 77px;
}

.search-form input:active {
    border: 2px solid #bbdafd;
}

.search-button {
    font-weight: bold;
    color: #039;
    background: #c6d7f3 url(/static/img/spritesheet_main.png) repeat-x center -1602px;
    border: 1px solid #a0b1dc;
    padding: 0 .8333em;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;
    border-radius: 3px;
    float: right;
    margin: 7px;
    padding: 3px 0.833em;
    margin: 6px 7px 7px 7px;
	cursor:pointer;
}

#search-button {
    font-weight: bold;
    color: #039;
    background: #c6d7f3 url(/static/img/spritesheet_main.png) repeat-x center -1602px;
    border: 1px solid #a0b1dc;
    padding: 0 .8333em;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;
    border-radius: 3px;
    float: right;
    margin: 7px;
    padding: 3px 0.833em;
    margin: 6px 7px 7px 7px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
}

.grid-item .thumbnail {
    width: 124px;
    height: 76px;
    border: 1px solid #999;
}

.grid-item {
    width: 140px;
    vertical-align: top;
    padding: 3px;
}

.video-info-grid a {
    font-weight: bold;
    text-decoration: none;
}

.video-info-grid a:hover {
    text-decoration: underline;
}

.video-views {
    color: #666;
    font-size: 11px;
}

.video-info-small {
    font-size: 11px;
}

.video-info-small a {
    font-weight: normal;
}

.grid-item {
    display: inline-block;
}

.video-item .thumbnail {
    width: 124px;
    height: 76px;
    border: 1px solid #999;
    background-position: center;
    background-size: cover;
    display: inline-block;
}

.video-item {
    margin-bottom: 15px;
}

.video-info {
    display: inline-block;
    vertical-align: top;
    padding-left: 7px;
    width: 475px;
}

.video-info-small-wide {
    font-size: 11px;
}

.video-info-small-wide a {
    font-weight: normal;
}

.video-info b {
    text-decoration: none !important;
}

.video-author-wide {
    padding-left: 13px;
}

.benifits-outer-front {
    border: 1px solid rgb(153, 153, 153);
    padding: 5px;
}

.benifits-inner-front {
    border: 1px solid rgb(204, 204, 204);
    padding: 4px;
    background: #eee;
    text-align: center;
}

.whats-new {
    background-color: #ffffe5;
    border: 1px solid #f5e082;
    border-radius: 3px;
    padding: 6px 10px 5px 10px;
    color: #CC6600;
}

.whats-new-text {
    color: black;
}

.sign-in-form-box {
    float: right;
    width: 235px;
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 1px;
    background-color: #eeeeee;
    padding: 5px;
    width: 281px;
}

.sign-in-outer-box {
    float: right;
    border-color: #999999;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
}

.upload-video-stage-1 {
    text-align: center;
    padding-top: 90px;
    padding-bottom: 79px;
    border: 1px solid #d3d3d3;
    margin: 30px; background-color: white;
}

.upload-add-tag {
    padding: 2px; 
    border-radius: 3px; 
    border: 1px solid #d3d3d3; 
    color: black; 
    background-color: #f3f3f3;
}

.title-bar-upload {
    padding: 10px;
    padding-left: 10px;
    background: rgb(87,86,87);
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(64, 62, 64) 97%, rgb(57, 55, 57) 100%);
    width: 630px;
    color: white;
    padding-left: 17px;
}

.upload-main-s {
    width: 597px;
    padding: 15px; 
    border: 1px solid #c6c6c6; 
    height: 370px;
    background-color: white;
}

#main_upload {
    padding: 15px;
    margin-left: 10px; 
}

.characters-remaining {
    width: 20px;
    background-color: transparent; 
    border: 0px solid transparent;
}

.upload-inputs {
    width: 345px;
    padding:5px;
    border-radius:5px;
    background-color:white;
    border: 1px solid #d3d3d3;
}

.title-bar-upload-s {
    padding: 10px;
    padding-left: 10px;
    padding-left: 10px;
    background: rgb(87,86,87);
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(64, 62, 64) 97%, rgb(57, 55, 57) 100%);
    width: 600px;
    color: white;
    position: relative;
    top: 31px;
    left: 30px;
}

.upload-tips {
    list-style: inside;
    line-height: 15.5px;
    padding-left: 0px;
}

.upload-tips a {
    color: #555;
}

.guideline-videos {
    width: 259px;
    display: none;
    padding-top: 13px;
    color: rgb(85, 85, 85);
    float: right;
}

.video-title {
    font-size: 19px;
    margin-bottom: 5px;
    width: 100%;
    display: block;
}

.channel-info-video {
    background: #eee;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 3px;
}

.channel-info-video img {
    width: 52px;
    height: 52px;
    border: 3px double #999;
}

.video-author-info {
    vertical-align: top;
    display: inline-block;
    line-height: 18px;
}

.video-author-info a {
    text-decoration: none;
}

.more-info {
    text-decoration: none;
    border-bottom: 1px dotted #03c;
    color: #03c;
    cursor: pointer;
}

.video-info-shortened, .video-info-full {
    margin-top: 4px;
    font-size: 11px;
    padding-bottom: 10px;
    word-wrap: break-word;
}

.share-video {
    border-top: 1px solid #ccc;
    padding: 1px 0 0 6px;
    padding-top: 1px;
    text-align: center;
    font-size: 11px;
    color: #666;
    line-height: 18px;
    font-size: 11px;
    font-weight: bold;
}

.share-video input {
    font-size: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    width: 222px;
}

.sub_button {
    font-weight: 600;
    color: #994800;
    background: #fed81c url(/static/img/spritesheet_main.png) repeat-x center -2202px;
    border: 1px solid #ecc101;
    padding: 0 .8333em;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;
    border-radius: 3px;
    float: right;
    margin: 7px;
}

.sub_button:hover {
    text-decoration: underline;
}

.watch-main-info {
    border: 1px solid #ccc;
    padding: 5px 5px 0 5px;
}

.watch-main-info-featured {
    border: 1px solid #ccc;
    padding: 5px;
    background: #ffc;
    border: 1px solid #fc3;
    font-weight: bold;
}

.watch-main-info h2 {
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
}

.video-views-watch {
    font-size: 16px;
    display: inline-block;
    float: right;
}

.like-button {
    font-weight: bold;
    color: #039;
    background: #c6d7f3 url(/static/img/spritesheet_main.png) repeat-x center -1602px;
    border: 1px solid #a0b1dc;
    padding: 0 .8333em;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;
    border-radius: 3px;
    margin-left: 3px;
    vertical-align: middle;
}

.rating-bar {
    width: 175px;
    border-radius: 2px;
}

.like-bar {
    display: inline-block;
    background-color: green;
}

.dislike-bar {
    display: inline-block;
    background-color: darkred;
}

/* gonna reuse this */
.video-extras-sparkbars {
    height: 4px;
    margin: 2px 0;
    border: 1px solid #ccc;
    overflow: hidden;
}

.video-extras-sparkbar-likes {
    float: left;
    height: 4px;
    border-right: 1px solid #fff;
    background: #060;
}

.video-extras-sparkbar-dislikes {
    float: right;
    height: 4px;
    margin-right: -1px;
    background: #c00;
}

.video-extras-likes-dislikes .dislikes {
    color: #666;
}

.sparkbars-watchpage-right { 
    width: 174px;
    padding-right: 19px;
    color: #666;
    font-size: 10px;
    
}

.watch-main-area-bottom {
    background-color: #fafafa;
    padding: 3px;
    border: 1px solid #ccc;
    border-top: 0px solid black;
    padding: 6px;
}

.share-icon:hover {
    background: transparent url(/static/img/spritesheet_main.png) repeat-x scroll 0 0;
    width: 25px;
    height: 20px;
    background-position: -59px -248px;
    border: 0px solid black;
}

.share-icon {
    background: transparent url(/static/img/spritesheet_main.png) repeat-x scroll 0 0;
    width: 25px;
    height: 20px;
    background-position: -59px -228px;
    border: 0px solid black;
}

.favorite-icon:hover {
    background: transparent url(/static/img/spritesheet_main.png) repeat-x scroll 0 0;
    width: 25px;
    height: 20px;
    background-position: 0 -248px;
    border: 0px solid black;
}

.favorite-icon {
    background: transparent url(/static/img/spritesheet_main.png) repeat-x scroll 0 0;
    width: 25px;
    height: 20px;
    background-position: 0 -228px;
    border: 0px solid black;
}


.playlist-icon:hover {
    background: transparent url(/static/img/spritesheet_main.png) repeat-x scroll 0 0;
    width: 25px;
    height: 20px;
    background-position: -28px -248px;
    border: 0px solid black;
}

.playlist-icon {
    background: transparent url(/static/img/spritesheet_main.png) repeat-x scroll 0 0;
    width: 25px;
    height: 20px;
    background-position: -28px -228px;
    border: 0px solid black;
}

.flag-icon:hover {
    background: transparent url(/static/img/spritesheet_main.png) repeat-x scroll 0 0;
    width: 25px;
    height: 20px;
    background-position: -91px -247px;
    border: 0px solid black;
}

.flag-icon {
    background: transparent url(/static/img/spritesheet_main.png) repeat-x scroll 0 0;
    width: 25px;
    height: 20px;
    background-position: -91px -228px;
    border: 0px solid black;
}

#share-button {
    display: inline-block;
    width: 16%;
    padding-left: 52px;
}

.button-watch-underline {
    border-bottom: 1px dotted #03c;
    color: #03c;
}

.timestamp {
    background-color: #000;
    border-radius: 3px;
    font-weight: bold;
    padding: 0 4px;
    height: 14px;
    opacity: 0.75;
    float: right;
    margin: 2px;
    position: relative;
    top: 56px;
    color: white;
}

.video-info-small-wide img {
    vertical-align: middle;
    margin-left: -3px;
}

.featured-videos-text {
    float: right; 
    display: inline-block;
    font-size: 12px;
    text-decoration: none;
}

.thin-line {
    border-bottom: 1px solid #ccc;
    border-top: 0px solid #ccc;
}

.stars-watch {
    margin-left: 3px;
}

.up-arrow-watch {
    background: transparent url(/static/img/spritesheet_main.png) repeat-x scroll 0 0;
    background-position-x: 0px;
    background-position-y: 0px;
    width: 25px;
    height: 11px;
    border: 0px solid black;
    background-position: 0 -133px;
    position: relative;
}


.share-icon .active {
    background-position: -59px -248px;
}

.favorite-icon .active {
    background-position: 0 -248px;
}


.playlist-icon .active {
    background-position: -28px -248px;
}

.flag-icon .active {
    background-position: -91px -247px;
}

.collapsible:hover {
    color: #333;
}

.collapsible {
    color: black;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    background-color: white;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
}

.content {
    display: none;
    overflow: hidden;
}

.www-right-arrow {
    background: transparent url(/static/img/spritesheet_main.png) repeat-x scroll 0 0;
    height: 16px;
    width: 16px;
    background-position: 0 -342px;
    border: 0;
    vertical-align: middle;
}

.videos-list-watch {
    padding-left: 7px;
    margin-top: 5px;
    border: 1px solid #ccc;
    height: 311px;
    overflow-y: scroll;
}

.video-info-watch {
    display: inline-block;
    vertical-align: top;
    padding-left: 3px;
    width: 170px;
}

.video-item-watch .thumbnail {
    width: 92px;
    height: 56px;
    border: 1px solid #999;
    background-position: center;
    background-size: cover;
    display: inline-block;
}

.video-item-watch {
    margin-bottom: 15px;
}

.video-item-watch .thumbnail .timestamp {
    top: 37px;
}

.videos-list-watch a {
    text-decoration: none;
}

.comment-info {
    margin-bottom: 5px;
    display: inline-block;
    width: 100%;
}

.comment-watch {
    margin-bottom: 13px;
}

.grey-text {
    color: #666;
}

.video-expanded-category {
    font-size: 12px;
    display: inline-block;
    width: 302px;
}

.video-expanded-category a {
    text-decoration: none;
}

iframe {
    overflow: hidden;
}

.videos-list {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.videos-list {
    font-weight: bold;
}

.videos-list li {
    margin-bottom: 5px;
}

.videos-list a {
    padding-left: 5px;
    font-weight: normal;
    text-decoration: none;
}

.edit-button {
    width: 21px;
    height: 21px;
    margin-right: 4px;
}

.manage-top {
    width: 80%;
    float: right;
}

.manage-base {
    width: 80%;
    float: right;
    margin-top: -1209px;
}

.video-manager-span {
    padding-bottom: 6px;
    width: 50px; 
    color: gray;
    display: inline-block;
}

.video-manager-icon {
    height: 16px;
    vertical-align: middle;
    margin-top: -6px;
}

.video-manager-title {
    color: black; 
    font-weight: bold; 
    text-decoration: none;
    padding-bottom: 3px; 
    display: inline-block;
}

.video-manager-thumbnail {
    vertical-align: top;
    width: 19%; 
    height: 73px; 
    display: inline;
}

.video-manager-status {
    background-color: #dcf0b0; 
    padding:3px; 
    border-radius: 2px;
    float: right;
}

.video-manager-info {
    display: inline-block;
    width: 467px;
}

#videoslist {
    border: 1px solid #E1E1E1;
}

.video-manager-stats {
    vertical-align: middle; 
    width: 200px;
    border: 1px solid #E1E1E1;
    padding-left: 31px;
    background: rgb(238,238,238);
    background: linear-gradient(90deg, rgba(238,238,238,1) 0%, rgba(255,255,255,1) 100%, rgba(10,214,255,1) 100%, rgba(0,212,255,1) 100%); 
}

.video-manager-left {
    vertical-align: top; 
    width: 200px;
    border: 1px solid #E1E1E1;
    padding: 4px;
}

.video-manager-upload {
    text-align: center;
    background-color: white; 
    height: 25px;
    background-image: linear-gradient(to bottom,#fafafa 0,#dcdcdc 100%);
}

.r120 {
    width: 120px;
    height: 67px;
    background-position: center;
    background-size: cover;
    display: inline-block;
    vertical-align: top;
}

.video-timestamp {
    background-color: #000;
    border-radius: 3px;
    font-weight: bold;
    padding: 0 4px;
    height: 14px;
    opacity: 0.75;
    float: right;
    margin: 2px;
    position: relative;
    top: 48px;
    color: white;
}

#share-panel a {
    margin-left: 58px;
    margin-right: 50px;
}

.manage-top h1 {
    font-weight: 200;
}

.video-manager-span {
    padding-bottom: 6px;
    width: 50px; 
    color: gray;
    display: inline-block;
}

.video-manager-icon {
    height: 16px;
    vertical-align: middle;
    margin-top: -6px;
}

.video-manager-title {
    color: black; 
    font-weight: bold; 
    text-decoration: none;
    padding-bottom: 3px; 
    display: inline-block;
}

.video-manager-thumbnail {
    vertical-align: top;
    width: 19%; 
    height: 73px; 
    display: inline;
}

.video-manager-status {
    background-color: #dcf0b0; 
    padding:3px; 
    border-radius: 2px;
    float: right;
}

.video-manager-info {
    display: inline-block;
    width: 467px;
}

#videoslist {
    border: 1px solid #E1E1E1;
}

.video-manager-stats {
    vertical-align: middle; 
    width: 200px;
    border: 1px solid #E1E1E1;
    padding-left: 31px;
    background: rgb(238,238,238);
    background: linear-gradient(90deg, rgba(238,238,238,1) 0%, rgba(255,255,255,1) 100%, rgba(10,214,255,1) 100%, rgba(0,212,255,1) 100%); 
}

.video-manager-left {
    vertical-align: top; 
    width: 200px;
    border: 1px solid #E1E1E1;
    padding: 4px;
}

.video-manager-upload {
    text-align: center;
    background-color: white; 
    height: 25px;
    background-image: linear-gradient(to bottom,#fafafa 0,#dcdcdc 100%);
}

.alert {
    background-color: #d8e4f7;
    text-align: center;
    font-weight: 700;
    height: 21px;
    padding-top: 7px;
    border-radius: 3px;
    margin-bottom: 5px;
}

#channel-customize {
    background: white;
    padding: 5px;
    border-radius: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.comment-likes {
    color: gray;
    font-size: 11px;
}

.like-comment {
    background: transparent url(/static/img/spritesheet_main.png) repeat-x scroll 0 0;
    background-position: -19px -190px;
    width: 19px;
    height: 19px;
    border: 0;
    opacity: .3;
}

.dislike-comment {
    background: transparent url(/static/img/spritesheet_main.png) repeat-x scroll 0 0;
    background-position: 0 -190px;
    width: 19px;
    height: 19px;
    border: 0;
    opacity: .3;
}

.dropbtn {
    border: none;
    cursor: pointer;
    background-color: white;
    padding: 0px;
    font: 12px arial,sans-serif;
}

.dropdown {
    position: relative;
    display: inline-block;
    background-color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    min-width: 90px;
    box-shadow: 0 0 3px #999;
    z-index: 1;
    font: 12px arial,sans-serif;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 5px;
    border-left: 0;
    margin-left: 0px;
    margin-bottom: 1px solid #999;
}

.dropdown-content a:hover {background-color: #ddd}

.show {display:block;} 

.channel-latest-stats {
    border: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 10px;
}

.quicklist-add {
    background: transparent url(/static/img/spritesheet_main.png) repeat-x scroll 0 0;
    width: 25px;
    height: 25px;
    background-position: 0 -355px;
    border: 0px solid black;
    display: inline-block;
    position: relative;
    top: 50px;
    left: 2px;
}

.upload-new-base {
    background-color: #eff4fc;
    border: 1px solid #c6d1eb;
    padding: 10px;
    margin-bottom: 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    height: 152px;
}

.upload-inner-box {
    width: 388px;
    float: left;
    text-align: center;
    padding: 40px 0;
    font-size: 13px;
    position: relative;
    background-color: white;
    border: 1px solid #999;
}

.upload-guidelines {
    background-color: #f2f2f2;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 5px 15px;
    float: right;
    width: 247px;
}

.barbg {
    margin: 5px;
    padding: 0;
    width: 400px;
    height: 20px;
    background-color: darkgray;
}

.bar {
    margin: 0;
    padding: 0;
    background-color: #c12c2c;
    color: white;
    height: 20px;
    text-align: right;
}